# ==========================================================
# Artist Music Bot (API Disabled)
# ==========================================================

API_ID=29308061
API_HASH=462de3dfc98fd938ef9c6ee31a72d099
BOT_TOKEN=YOUR_BOT_TOKEN
LOGGER_ID=-100XXXXXXXXXX
MONGO_DB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=123456789
STRING_SESSION=YOUR_STRING_SESSION

# Disable ArtistBots API
ENABLE_API=False

# Leave these empty
ARTISTBOTS_API_URL=
ARTISTBOTS_KEY=
